<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="container" id="table">
  <h1>Comments</h1>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for Email_details in object_list %}
      <tr>
        <td>{{ Email_details.name }}</td>
        <td>{{ Email_details.email }}</td>
        <td>{{ Email_details.description}} <button><a href="http://127.0.0.1:8000/mail/reply">Reply</a></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

</body>
</html>